* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}

aside {
  float: left;
  width: 3%;
  padding: 2px;
  display: block;
  height: 90%;
}
aside nav {
  background-color: #d3d3d3;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
  padding-left: 0.6rem;
}
aside ul {
  list-style: none;
}
aside nav li {
  color: #0c0c0c;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  padding-right: 15px;
}

aside i {
  font-size: 1.5rem;
}

section {
  float: left;
  display: flex;
  padding: 2rem;
  background-color: rgb(61, 61, 61);
  width: 97%;
}

section img {
  height: 12rem;
  width: auto;
}

section header {
  margin-left: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.section-two {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: rgb(8, 8, 8);
  margin-bottom: 1rem;
}
.content p {
  margin-right: 3rem;
  min-width: 25%;
  padding: 0.5rem;
}
.content:nth-child(odd) {
  background: #d3d3d3;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #4c6097;
  padding: 0.4rem;
}

footer .right {
  display: flex;
  align-items: center;
  width: 20%;
  color: white;
}

.right img {
  height: 6rem;
  margin-right: 0.5rem;
  word-spacing: 1px;
}

.right div {
  display: flex;
  flex-direction: column;
}

.right div p {
  margin-bottom: 1rem;
}

.left {
  display: flex;
  align-items: center;
  color: white;
}

.left a {
  color: white;
  margin-left: 5rem;
  margin-right: 5rem;
}

.tail {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
}

.tail p {
  color: white;
}

span {
  padding: 0.15rem;
  border: #4f68ab solid 2px;
  color: #4f69b0;
}
